.menu-link{
color: white;
font-size: 13PX;
text-transform: uppercase;
}


.header{

	display: flex;
	justify-content: space-between;
}

.menu{
display: flex;
width: 400px;
justify-content: space-between;
list-style: none;

}

.background-image{
background-image: url("./images/background.jpg");
height:890px;
background-repeat: no-repeat;
background-size:contain;
}

.title{
color: white;
text-transform: uppercase;
font-size: 40px;
margin: 250px 0  0 40px;
}

.subtitle{
color:white;
text-transform: uppercase;
font-size:15px;
margin: 100px 0 0 40px;
}





.benefits{
background: #a2ca28;

}